### Spring Boot ###
HELP.md
.gradle
.DS_store
build/
/src/main/resources/triplayServiceAccountKey.json  # Firebase 설정 파일
/src/main/resources/keystore.p12                   # SSL 인증서(개발용)
src/main/resources/triplayServiceAccountKey.json
src/main/resources/keystore.p12
src/main/generated
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### monitoring & metrics ###
prometheus.yml  # Prometheus 설정 파일
web-config.yml  # Prometheus 웹 설정 파일
/ssl/**  # SSL 인증서 디렉토리

### Docker ###
docker-compose.yml  # 로컬 Docker Compose 설정

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local Configuration ###
.env  # 환경 변수
/src/main/resources/application.yml

